@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
.wrap {
  width: 100%;
}
.inner {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  /* background-color: rgb(255, 83, 4); */
}
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 20%;
  padding-left: 50px;
  padding-top: 10px;
}
.menu-wrap {
  position: relative;
}
.menu-top {
  width: 100%;
  height: 50%;
  display: flex;
}
.icon {
  padding-top: 15px;
  padding-left: 10px;
}
.main-menu {
  width: 100%;
}
/* banner
 */
.banner {
  width: 100%;
  position: relative;
}
.banner img {
  width: 100%;
  display: block;
}
.menu-wrap {
  padding-right: 150px;
}
.a {
  display: flex;
  /* text-align: center; */
  padding: 10px 5px;
  gap: 10px;
  font-size: small;
}
.a li:hover {
  text-decoration: underline;
}
.b {
  display: flex;
  gap: 100px;
  padding: 10px 5px;
}
.b li:hover {
  color: white;
  background-color: #444142;
}
.gongzisahang {
  width: 100%;
  height: 400px;
  background-color: #1e3932;
}
.gongzisahang-logo {
  padding: 20px 200px;
}
.gongzisahang-logo img {
  width: 100%;
  text-align: center;
}

.gongzisahang-top {
  display: flex;
}
.gongzisahang-left {
  padding-top: 15px;
  height: 50px;
  width: 50%;
  text-align: center;
  background-color: black;
  color: azure;
}
.gongzisahang-right {
  padding-top: 15px;
  height: 50px;
  width: 50%;
  text-align: center;
  background-color: blanchedalmond;
}
.gongzisahang-bottom {
  display: flex;
}
.gongzisahang-bottom .gongzisahang-txt {
  color: white;
}
.gongzisahang-txt {
  padding-top: 30px;
}
.gongzisahang-txt p h1 {
  padding-top: 10px;
  display: flex;
}

.before {
  display: flex;
}
.after {
  display: flex;
}
.login-after {
  padding-top: 5px;
}
.signin-login {
  position: relative;
}
.signin-login .s {
  position: absolute;
  bottom: 17px;
  right: 62px;
  width: 98px;
  height: 38px;
  border-radius: 10px;
  background-color: #34685a;
}
.signin-login .s a {
  padding-left: 15px;
  padding-top: 15px;
  color: white;
}
.mobile-card {
  border-radius: 10px;
  padding: 5px 5px;
  margin: 10px;
  border: 2px solid white;
}
.mobile-card a {
  color: white;
  border-radius: 10px;
  background-color: #1e3932;
}
/* .signin-login .s{
    border-radius: 10px;
    background-color: #1e3932;
} */
/* .gongzisahang-top {
  display: flex;
}

.gongzisahaang-left h3 {
  color: white;
  font-size: 16px;
  padding-left: 150px;
  padding-top: 10px;
}

.gongzisahaang-right h3 {
  font-size: 16px;
  padding-left: 150px;
  padding-top: 10px;
}
.gongzisahang-logo {
  padding-left: 100px;
  padding-top: 60px;
}
.gongzisahang-txt1{
  padding-top: 10%;
}
.gongzisahang-txt1 {
  flex-direction: column;
}
.gongzisahang-txt-img {
  display: flex;
} */
.notice {
  position: relative;
  width: 100%;
}
.notice img {
  width: 100%;
  display: block;
}
.notice .inner {
  position: relative;
  bottom: 280px;
}
.notice-left-img {
  position: absolute;
  top: 40px;
  left: 0;
}
.notice-right-img {
  top: 0;
  left: 0;
}
.visual1 {
  width: 100%;
  background-color: rgb(100, 94, 27);
  z-index: 999;
}
.visual1 img {
  width: 100%;
  display: block;
}
.visual2 {
  position: absolute;
  background-color: rgb(182, 172, 70);
  width: 100%;
}
.visual3 {
  position: relative;
  top: 0;
  left: 0;
  background-color: rgb(143, 13, 35);
}
.visual3 img {
  width: 100%;
  display: block;
}
.paper {
  background-color: aquamarine;
}
