@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
.wrap {
  background-color: palegoldenrod;
  width: 100%;
}
.inner {
  width: 100%;
  max-width: 960px;
  margin: auto;
  background-color: rgb(245, 245, 197);
}
.header {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: rgb(63, 70, 63);
}
.logo {

  width: 20%;
  background-color: paleturquoise;
}
.menu-wrap {

  height: 70%;

  background-color: aliceblue;
}
.menu-top {
  width: 100%;
  height: 50%;
  background-color: palevioletred;
  display: flex;
}
.menu-bottom {
  width: 100%;
  height: 50%;
  background-color: salmon;
}
.sub-menu {
  background-color: peachpuff;
}
.icon {
  background-color: powderblue;
}
/* banner */
.banner{
  width: 100%;
  position: relative;
}
.banner img{
  width: 100%;
}
.B {
  display: flex;
  /* text-align: center; */
  padding: 10px 5px;
  gap: 100px;
}

.notice-inner {
  width: 1000px;
  height: 400px;
  border: 2px solid #fff;
  z-index: 9999;
  margin: auto;
}
.A {
  display: flex;
  gap: 100px;
  padding: 10px 5px;
}
.notice {
  background-color: rgb(11, 53, 18);
}
.notice-inner {
  width: (calc(100% / 3));
}
.visual1 {
  width: 100%;
  background-color: rgb(100, 94, 27);
  z-index: 999;
}
.visual1 img {
  width: 100%;
}
.visual2 {
  position: absolute;
  background-color: rgb(182, 172, 70);
}
.visual3 {
  position: relative;
  top: 0;
  left: 0;
  background-color: rgb(143, 13, 35);
}

.paper {
  background-color: aquamarine;
}
