@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
.wrap {
  width: 100%;
}
.inner {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding-top: 90px;
  /* background-color: rgb(255, 83, 4); */
}
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 20%;
  padding-left: 50px;
  padding-top: 10px;
}
.menu-wrap {
  position: relative;
}
.menu-top {
  width: 100%;
  height: 50%;
  display: flex;
}
.icon {
  padding-top: 15px;
  padding-left: 10px;
}
.main-menu {
  width: 100%;
}
/* banner
 */
.banner {
  width: 100%;
  position: relative;
}
.banner img {
  width: 100%;
  display: block;
}
.menu-wrap {
  padding-right: 150px;
}
.a {
  display: flex;
  /* text-align: center; */
  padding: 10px 5px;
  gap: 10px;
  font-size: small;
}
.a li:hover {
  text-decoration: underline;
}
.b {
  display: flex;
  gap: 100px;
  padding: 10px 5px;
}
.b li:hover {
  color: white;
  background-color: #444142;
}
.gongzisahang {
  width: 100%;
  height: 400px;
  background-color: #1e3932;
}
.gongzisahang-logo {
  padding: 20px 200px;
}
.gongzisahang-logo img {
  width: 100%;
  text-align: center;
}

.gongzisahang-top {
  display: flex;
}
.gongzisahang-left {
  padding-top: 15px;
  height: 50px;
  width: 50%;
  text-align: center;
  background-color: black;
  color: azure;
}
.gongzisahang-right {
  padding-top: 15px;
  height: 50px;
  width: 50%;
  text-align: center;
  background-color: blanchedalmond;
}
.gongzisahang-bottom {
  display: flex;
}
.gongzisahang-bottom .gongzisahang-txt {
  color: white;
}
.gongzisahang-txt {
  padding-top: 30px;
}
.gongzisahang-txt p h1 {
  padding-top: 10px;
  display: flex;
}

.before {
  display: flex;
}
.after {
  display: flex;
}
.login-after {
  padding-top: 5px;
}
.signin-login {
  display: flex;
  justify-content: flex-end;
  height: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  gap: 10px;
}
.signin-login .s a {
  background-color: rgb(21, 83, 63);
  border: none;
  height: 30%;
  width: 40px;
}
.signin-login a {
  width: 98px;
  height: 10px;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}

.signin-login s {
  background-color: #1e3932;
}
/* .signin-login .s a{
  color: white;
} */
.mobile-card {
  border-radius: 10px;
  padding: 5px 5px;
  margin: 10px;
  border: 2px solid white;
}
.mobile-card a {
  color: white;
  border-radius: 10px;
}

.notice {
  position: relative;
  width: 100%;
  background-color: red;
}
.notice img {
  width: 100%;
  display: block;
}
.notice .inner {
  padding: 0;
  position: absolute;
  top: 5%;
  left: 20%;
  /* bottom: 280px; */
}
.notice-left-img {
  position: absolute;
  top: 40px;
  left: 0;
}

.visual1 {
  width: 100%;

  z-index: 999;
}
.visual1 img {
  width: 100%;
  display: block;
}
.visual2 {
  position: relative;
  width: 100%;
}
.visual2 .inner {
  position: absolute;
  top: 50%;
  left: 50%;                
  width: 100%;
  height: auto;
  background-color: red;
}
.visual2 > img {
  width: 100%;
}
.visual-imgwrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  background-color: aqua;
  width: 100%;
}

.visual3 {
  position: relative;
  top: 0;
  left: 0;
  background-color: rgb(143, 13, 35);
}
.visual3 img {
  width: 100%;
  display: block;
}

.paper > img {
  width: 100%;
  display: block;
}
