@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
.wrap {
  background-color: palegoldenrod;
  width: 100%;
}
.inner {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  /* background-color: rgb(255, 83, 4); */
}
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;

  background-color: rgb(63, 70, 63);
}
.logo {
  width: 20%;
  background-color: paleturquoise;
}
.menu-wrap {
  position: relative;

  background-color: rgb(231, 168, 51);
}
.menu-top {
  width: 100%;
  height: 50%;
  background-color: palevioletred;
  display: flex;
}

.sub-menu {
  background-color: peachpuff;
}
.icon {
  background-color: powderblue;
}
.main-menu {
  width: 100%;
}
/* banner
 */
.banner {
  width: 100%;
  position: relative;
}
.banner img {
  width: 100%;
  display: block;
}
.a {
  display: flex;
  /* text-align: center; */
  padding: 10px 5px;
  gap: 100px;
}

.b {
  display: flex;
  gap: 100px;
  padding: 10px 5px;
}

.notice {
  position: relative;
  width: 100%;
}
.notice img {
  width: 100%;
  display: block;
}
.notice .inner {
  position: relative;
  bottom: 350px;
}
.notice-left-img {
  position: absolute;
  top: 40px;
  left: 0;
}
.notice-right-img {
  top: 0;
  left: 0;
}
.visual1 {
  width: 100%;
  background-color: rgb(100, 94, 27);
  z-index: 999;
}
.visual1 img {
  width: 100%;
  display: block;
}
.visual2 {
  position: absolute;
  background-color: rgb(182, 172, 70);
}
.visual3 {
  position: relative;
  top: 0;
  left: 0;
  background-color: rgb(143, 13, 35);
}
.visual3 img {
  width: 100%;
  display: block;
}
.paper {
  background-color: aquamarine;
}
